<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Instagralbums</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%if current_user%>
          <p class="navbar-text"> <%="Welcome to your albums, #{current_user.name}"%> </p>
          <li> <%=link_to 'Sign Out', signout_path%> </li>
        <%else%>
          <li><a href="/auth/instagram">Sign in with Instagram</a></li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
<%= javascript_include_tag "application" %>
<div class = "container">
  <%if current_user%>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      See my albums
    </button>
    <div class = "findandsave">
      <div class = "token" data-token = "<%=current_user.token%>" ></div>
      <br>
      <%=button_tag "Search by current location", class: "current-location-btn" %>
      <div class ="location-options"></div>
      <p> or </p>
      <%=form_tag "#", :onSubmit => "return false" do %>
        <%= text_field_tag :tag, "enter tag here" %>
        <%= submit_tag "Search", class: "photo-search" %>
      <% end %>
      <%= render "form" %>
    </div>

  <% end %>
  <div class="photos-slideshow">
  </div>
</div>
<footer class ="footer">
  <div class ="container"></div>
</footer>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Albums</h4>
      </div>
      <div class="modal-body">
        <%= render "album"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Ok</button>
      </div>
    </div>
  </div>
</div>
