<%= javascript_include_tag "application" %>

<%if current_user%>
<%=link_to "See My Albums", user_albums_path(@user) %>
  <div class = "findandsave">
    <div class = "token" data-token = "<%=current_user.token%>" >
    </div>
      <%= "Welcome #{current_user.name}"%>
      <%= link_to "Sign Out", signout_path %>
      <br>
       <%=button_tag "Search by current location", class: "current-location-btn" %>
       <div class ="location-options"></div>
       <p> or </p>

      <%=form_tag "#", :onSubmit => "return false" do %>
        <%= text_field_tag :tag, "enter tag here" %>
        <%= submit_tag "Search", class: "photo-search" %>
      <% end %>
      <%= render "form" %>
    </div>

<% else %>
  <%= link_to "Sign in with Instagram", "/auth/instagram" %>
<% end %>

<% if current_user.present?%>

<% end %>

<div class="photos-slideshow">
</div>
